nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
  .container
    .navbar-header
    .collapse.navbar-collapse
      ul.nav.navbar-nav
        li(class=isActive('/login') ? 'active' : '')
          a(href="/login", title="Login") Login