<div class="row">
    <div class="col-sm-8">
        <div class="spots-list">
            <div *ngFor="let spot of spots" class="spots-list__item">
                <dashboard-card [spot]="spot" (deleteSpot)="deleteSpot($event)"></dashboard-card>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div>
            <input [value]="pair" (input)="pair = $event.target.value">
            <button (click)="syncDevice()">Get Pair</button>
            <ul *ngIf="devices">
                <li *ngFor="let device of devices">
                    {{device.name}}
                </li>
            </ul>
        </div>
    </div>
</div>
