@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 700;
  src: local('Bebas Neue Bold'),
      url('../../fonts/bebasneue/bebasneuebold.woff2') format('woff2'),
      url('../../fonts/bebasneue/bebasneuebold.woff') format('woff'),
      url('../../fonts/bebasneue/bebasneuebold.ttf') format('ttf'),
      url('../../fonts/bebasneue/bebasneuebold.eot') format('eot');
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: local('Bebas Neue Book'),
      url('../../fonts/bebasneue/bebasneuebook.woff2') format('woff2'),
      url('../../fonts/bebasneue/bebasneuebook.woff') format('woff'),
      url('../../fonts/bebasneue/bebasneuebook.ttf') format('ttf'),
      url('../../fonts/bebasneue/bebasneuebook.eot') format('eot');
}

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
    local('Open Sans Regular'),
    local('OpenSans-Regular'),
    url(https://fonts.gstatic.com/s/opensans/v14/K88pR3goAWT7BTt32Z01m4X0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/RjgO7rYTmqiVp7vzi-Q5UYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/LWCjsQkB6EMdfHrEVqA1KYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/xozscpT2726on7jbcb_pAoX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/59ZRklaO5bWGqF5A9baEEYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src:
          local('Open Sans Regular'),
          local('OpenSans-Regular'),
          url(https://fonts.gstatic.com/s/opensans/v14/cJZKeOuBrn4kERxqtaUH3ZBw1xU1rKptJj_0jans920.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

@font-face {
  font-family: 'seatime';
  src:
    url('../../fonts/seatime/seatime.ttf?zfiseb') format('truetype'),
    url('../../fonts/seatime/seatime.woff?zfiseb') format('woff'),
    url('../../fonts/seatime/seatime.svg?zfiseb#seatime') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'seatime' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-star:before {
  content: "\e838";
}
.icon-signal_wifi_4_bar:before {
  content: "\e1d8";
}
.icon-signal_wifi_4_bar_lock:before {
  content: "\e1d9";
}
.icon-signal_wifi_off:before {
  content: "\e1da";
}
.icon-watch_later:before {
  content: "\e924";
}
.icon-rain:before {
  content: "\e900";
}
.icon-wind:before {
  content: "\e901";
}
.icon-weather:before {
  content: "\e902";
}
.icon-weather2:before {
  content: "\e903";
}
.icon-cloudy:before {
  content: "\e904";
}
.icon-cloud:before {
  content: "\e905";
}
.icon-lightning:before {
  content: "\e906";
}
.icon-rainy:before {
  content: "\e907";
}
.icon-compass:before {
  content: "\e90a";
}
.icon-Celsius:before {
  content: "\e908";
}
.icon-Fahrenheit:before {
  content: "\e909";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-vk:before {
  content: "\e90b";
}
.icon-xing-with-circle:before {
  content: "\e90c";
}
.icon-facebook-with-circle:before {
  content: "\e90d";
}
.icon-google-with-circle:before {
  content: "\e90e";
}
.icon-linkedin:before {
  content: "\e90f";
}
.icon-pinterest-with-circle:before {
  content: "\e910";
}
.icon-clear:before {
  content: "\e14a";
}