<div class="spotitem" (click)="onSelect()">
    <span>{{spot.name}}</span>
    <button class="delete" (click)="delete(); $event.stopPropagation()">x</button>

    <div *ngIf="spot.swell">
        <span>{{spot.swell.maxBreakingHeight}}{{spot.swell.unit}}</span>
        <span>{{spot.swell.period}}s</span>
        <br>
        <span>{{spot.swell.components.combined.power}} power</span>
        <br>
        <span>{{spot.swell.components.combined.compassDirection}}</span>
        <br>
        <span>{{spot.swell.components.combined.isOffshore ? 'Off' : 'On'}}</span>
    </div>

    <div *ngIf="spot.tide">
        <tide-chart [tides]="spot.tide" [size]="300" style="display: block; height: 60px;"></tide-chart>
    </div>
</div>
