[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
}

[class*='col-']:last-of-type {
    padding-right: 0;
}

a {
    text-decoration: none;
}

*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

h3 {
    text-align: center;
    margin-bottom: 0;
}

h4 {
    position: relative;
}

.grid {
    margin: 0;
}

.col-1-4 {
    width: 25%;
}

.module {
    padding: 20px;
    text-align: center;
    color: #eee;
    max-height: 120px;
    min-width: 120px;
    background-color: #607D8B;
    border-radius: 2px;
}

.module:hover {
    background-color: #EEE;
    cursor: pointer;
    color: #607d8b;
}

.grid-pad {
    padding: 10px 0;
}

.grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
}

@media (max-width: 600px) {
    .module {
        font-size: 10px;
        max-height: 75px;
    }
}

@media (max-width: 1024px) {
    .grid {
        margin: 0;
    }

    .module {
        min-width: 60px;
    }
}

.search-holder {
    background: #FFFFFF;
    box-shadow: 0 12px 30px 12px rgba(0, 0, 0, .05);
    height: 45px;
    line-height: 45px;
    padding: 0 25px;
    position: relative;
    z-index: 100;
}

.search-holder .icon-clear {
    margin-top: 11px;
    font-size: 21px;
    color: #D8D8D8;
}

.search-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 1;
}

.input-wrapper {
    overflow: hidden;
}

.input-wrapper input {
    width: 100%;
    height: 45px;
    border: 0;
    padding: 0;
    margin: 0;
    outline: none;
}

.first-level-select {
    font-size: 21px;
    font-weight: 700;
    line-height: 45px;
    margin-right: 15px;
}