<div>
    <div class="mapbg" #bgmap></div>
    <div smartinput style="position: relative;">

        <span *ngIf="!!firstLevelId">
            {{getCountry(firstLevelId)}}
        </span>

        <input #search smartinput-in [(ngModel)]="filter.name" (keydown)="onInput($event)"/>
        <span *ngIf="filter.name || !!firstLevelId" (click)="clearSearch()">Clear</span>

        <div #dropdown=smartinputdropdown smartinput-dropdown>
            <ul class="dropdown-menu" role="menu">
                <li *ngFor="let item of items| smartfilter:filter" (click)="itemSelect(item._id, item.name)" role="menuitem">
                    <span class="dropdown-item">{{item.name}}</span>
                    <span *ngIf="!!firstLevelId"
                        [class.favourite]="item.favourite"
                        (click)="toggleSpot(item, $event)">{{item.favourite ? 'Remove' : 'Add'}} spot</span>
                </li>

                <li *ngIf="items && !items.length">
                    No spots in this region
                </li>
            </ul>
        </div>
    </div>
    <div class="spots-number" *ngIf="spot_count && !inited">
        <div class="spots-number__digits">{{spot_count}}</div>
        <div class="spots-number__text">
            Spots<br>Over the world
        </div>
    </div>

    <spot-detail *ngIf="!!selectedSpot" [spot]="selectedSpot"></spot-detail>
</div>